div.NihonCon
{
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	height: 97%;
	width: 98%;
	padding: 5px;
	position: absolute;
	overflow: hidden;
	z-index: 0;
}

div.Cell
{
	min-height: 100px;
	min-width: 300px;
	height: 200px;
	width: 600px;
	border: 1px solid #999999;
	resize: both;
	
	display: flex;
	flex-flow: column;
	align-items: stretch;
	
	overflow: hidden;
	position: absolute;
	
	z-index: 1;
}

div.CellHead
{
	height: 30px;
	width: 80%;
	background-color: #22b14c;
	cursor: move;
	z-index: 2;
	float:left;
}

select.Hotkey
{
	height: 30px;
	width: 10%;
	float: left;
}

div.CellContent
{
	flex: 1;
	overflow: auto;
	/* position: relative; */
}

div.iFrameCell
{
	min-height: 300px;
	min-width: 200px;
	height: 600px;
	width: 400px;
	
	display: flex;
	flex-flow: column;
	align-items: stretch;
	margin: 0;
	padding: 0;
	resize: both;
	overflow: hidden;
	
	position: absolute;
	z-index: 1;
}

div.iFrameCellHead
{
	height: 30px;
	width: 80%;
	background-color: #4080ff;
	cursor: move;
	z-index: 2;
	float:left;
}

button.CellX
{
	height: 30px;
	width: 10%;
	float: left;
}

iframe.extIFrame
{
	flex: 1;
	overflow: auto;
}

div.ToolTip 
{
  position: relative;
  padding: 3px 5px;
  display: inline-block;
  background-clip: padding-box;
  border: 3px solid transparent;
}

div.ToolTipText
{
  visibility: hidden;
  max-width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  display: inline-block;
  /* border-radius: 6px; */ /* rounded edges */

  position: fixed;
  z-index: 10;
}