<html>
	<head>
		<meta charset="UTF-8">
		{% if title %}
		<title>NihonCon: {{title}}</title>
		{% else %}
		<title>NihonCon!</title>
		{% endif %}
		<style id = 'Theme'>@import url("{{ url_for('static', filename='css/style.css')}}")</style>
	</head>
	<body>
	<div>
		{% if login %}
		({{login}})
		{% else %}
		(no user)
		{% endif %}
		NihonCon: 
		<a href = '{{url_for("index")}}'>Home</a>
		<a href = '{{url_for("login")}}'>Login</a>
		<a href = '{{url_for("workspace")}}'>Workspace</a>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{message}}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{% block content %} {% endblock %}
	</body>
</html>